:root {
    --primary-color: #ffc911;
    --secondary-color: #000000;
    --tertiary-color: #cea520;
    --light-gray: #f3f3f3;
    --background-color: #ffffff;
  }
  
  body {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
      background-color: var(--background-color);
      color: var(--secondary-color);
      margin-left: 10px;
      margin-right: 10px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
      font-size: 30px;
      font-weight: 700;
      margin: 5px;
  }
  
  h2 {
      font-size: 24px;
      font-weight: 700;
      margin: 5px;
  }
  
  h3 {
      font-size: 18px;
      font-weight: 700;
      margin: 5px;
  }
  
  a {
    color: var(--secondary-color);
  }
  
  a:hover {
      color:var(--primary-color);
  }
  
  a:active {
      color:var(--tertiary-color);
  }
  
  a:visited {
      color:var(--secondary-color);
  }
  
  button, .button, .about-button {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      font-size: 16px;
      font-weight: 500;
      line-height: inherit;
      text-decoration: none;
      border-color: var(--primary-color);
      border-radius: 5px;
      padding: 10px;
      display:inline-block;
  }
  
  button:hover, .button:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      cursor: pointer;
  }

  .Pokedex-logo {
    height: 100px;
    width: auto;
    margin: 10px;
  }

  .pokemon-list {
    list-style-type: none;
    margin: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .button-class {
    width: 95%;
    padding: 10px 30px;
    text-align: center;
  }

  #modal-container { 
  display: none;
  }

  #modal-container.is-visible {  
    display: block;
    position:sticky;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f3f3f3;
    overflow: auto;
    z-index: 998;
  }

  .modal {  
    margin: auto;
    position: sticky;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    text-align: left;
    z-index: 999;
  }

  .modal-close {
      float: right;
      -webkit-appearance: none;
      border: 1px;
      border-radius: 5px;
      border-color: var(--secondary-color);
      background: none;
      text-decoration: underline;
  }

  @media all and (min-width: 768px) and (max-width: 992px) {
    .pokemon-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media all and (min-width: 576px) and (max-width: 768px) {
    .pokemon-list{
      grid-template-columns: 1fr 1fr;
    }
  
    h1 {
      font-size: 24px;
    }
  
    .Pokedex-logo {
      height: 60px;
    }
  }

  @media all and (max-width: 576px) {
    .pokemon-list {
     grid-template-columns: 1fr;
     }
 } 